# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

*.log

# Ignore Postgres Data directoy
docker/postgres/data

/docker/kafka/zk-single-kafka-single/kafka1/
/docker/kafka/zk-single-kafka-single/zoo1/
/docker/kafka/zk-single-kafka-single/
